.main{
    position: absolute;
    width: 300px;
    z-index: 15;
    top: 30%;
    left: 50%;
    margin: -100px 0 0 -150px;
    background: red;
}
.full{
    min-height: 100vh;
    background-color:rgba(0, 0, 0, 0.5);
    z-index: 2;
}
.header{
    text-align: center;
    font-size: 25px;
    font-weight: bolder;
}
.content{
    padding: 15px
}
.button{
    width: 100px;
    height: 25px;
    border-radius: 5px;
    margin: 10px;
}